<%= render partial: "partials/market_header", locals: {markets: @markets} %>

<div class="ink-grid results">

<% unless successful_search? %>
  <div class="column-group">
    <div class="all-100 align-center">
      <div id="page-form" class="ink-form page-form">
        <div class="control-group">
          <div class="control">
            <%= render partial: "partials/search_form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: "partials/results" %>

</div>
