---
http_interactions:
- request:
    method: get
    uri: http://search.ams.usda.gov/farmersmarkets/v1/data.svc/mktDetail?id=1005360
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"marketdetails":{"Address":"390 Grant St., Denver, Colorado","GoogleLink":"http:\/\/maps.google.com\/?q=39.7226%2C%20-104.983%20(%22VNA+Farmers''+Market%22)","Products":"","Schedule":"    "}}'
  recorded_at: Wed, 28 Jan 2015 21:20:46 GMT
recorded_with: VCR 2.9.3
