---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=123%20Main,%20Denver,%20CO,%2080205&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Main Hall",
                       "short_name" : "Main Hall",
                       "types" : [ "premise" ]
                    },
                    {
                       "long_name" : "Regis University",
                       "short_name" : "Regis University",
                       "types" : [ "establishment" ]
                    },
                    {
                       "long_name" : "Regis",
                       "short_name" : "Regis",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "[...]
