---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=123%20main,%20Denver,%20CO,%2080202&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver City Council",
                       "short_name" : "Denver City Council",
                       "types" : [ "point_of_interest", "establishment" ]
                    },
                    {
                       "long_name" : "451",
                       "short_name" : "451",
                       "types" : [ "subpremise" ]
                    },
                    {
                       "long_name" : "1437",
                       "short_name" : "1437",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Ba[...]
