---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=6000%20Vine,%20LA,%20CA,%2090028&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "6000",
                       "short_name" : "6000",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Vine Way",
                       "short_name" : "Vine Way",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Hollywood Hills",
                       "short_name" : "Hollywood Hills",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                      [...]
