---
http_interactions:
- request:
    method: get
    uri: http://search.ams.usda.gov/farmersmarkets/v1/data.svc/zipSearch?zip=99762
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[]}'
  recorded_at: Tue, 27 Jan 2015 22:18:34 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=99762&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "99762",
                       "short_name" : "99762",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Nome",
                       "short_name" : "Nome",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Nome",
                       "short_name" : "Nome",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Alaska",
                       "short_name" : "AK",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Nome, AK 99762, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 65.7704918,
                          "lng" : -162.572269
                       },
                       "southwest" : {
                          "lat" : 64.4351508,
                          "lng" : -168.9545079
                       }
                    },
                    "location" : {
                       "lat" : 64.79977169999999,
                       "lng" : -164.8595964
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 65.40845,
                          "lng" : -162.572269
                       },
                       "southwest" : {
                          "lat" : 64.4351508,
                          "lng" : -165.921422
                       }
                    }
                 },
                 "postcode_localities" : [ "Diomede", "Golovin", "Nome" ],
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 27 Jan 2015 22:18:34 GMT
recorded_with: VCR 2.9.3
