<div id="footer">
  <div class="ink-grid">
    <div class="column-group">
      <div class="all-100">
        MADE IN USA <i class="fa fa-leaf"></i> © 2015 ALL RIGHTS RESERVED
        <p class="extra-small">This product uses USDA’s National Farmers Market API but is not endorsed or certified by USDA.</p>
      </div>
    </div>
  </div>
</div>

