<div id="footer">
  <div class="ink-grid">
    <div class="column-group">
      <div class="all-50">
        MADE IN USA
      </div>
      <div class="all-50">
        © 2015 ALL RIGHTS RESERVED
      </div>
    </div>
  </div>
</div>

