<div id="content-1" class="ink-grid">
  <div class="column-group">
    <div class="all-25"></div>
    <div class="all-50">
      <i class="fa fa-leaf fa-2x"></i>
      <p class="medium-content">Salad Days is dedicated to connecting local people with local food sources. From farmer's markets, to co-ops, to backyard gardens, we'll help you eat with the seasons.</p>
    </div>
    <div class="all-25"></div>
  </div>
</div>

<div id="content-2" class="ink-grid">
  <div class="column-group">
    <div class="all-100">
      <p class="large-content">I Love Turnips! How Does It Work?</p>
    </div>
  </div>
  <div class="column-group horizontal-gutters">
    <div class="all-33">
      <p class="big-number">1</p>
      <p class="small-content">Browse for food in your area without signing up for a profile. If you find something you, like contact the market owner to get in touch!</p>
    </div>
    <div class="all-33">
      <p class="big-number">2</p>
      <p class="small-content">Create a profile with your Twitter information. It's free and easy. You can follow your favorite markets and get email updates whenever new food is available!</p>
    </div>
    <div class="all-33">
      <p class="big-number">3</p>
      <p class="small-content">Once you've signed up you can create your own market, list your extra vegetables, and homemade food stuffs for others to discover and enjoy!</p>
    </div>
  </div>
</div>
