<nav class="ink-navigation">
  <ul class="menu">
    <li><i class="fa fa-ellipsis-v fa-3x"></i>
    <ul class="submenu">
      <li>Browse Produce</li>
      <li>Log In</li>
      <li>Sign Up</li>
    </ul>
    </li>
  </ul>
</nav>

