<% if flash %>
  <% flash.each do |key, message| %>
  <div class="note align-right">
    <p id="flash-notice"><%= message %></p>
  </div>
  <% end %>
<% end %>
<% flash[:error] = flash[:errors] = flash[:notice] = nil %>
