<div id="sub-line" class="column-group">
  <div class="all-33 zip">
  </div>
  <div class="all-66 align-right">
    <h2><%= user.name %>  <%= image_tag user.image, size: "40x40" %></h2>
  </div>
</div>


