<div id="sub-line" class="column-group">
  <div class="all-75">
    <h2>Profile</h2>
  </div>
  <div class="all-25 zip">
    <h5><%= @user.name %></h5>
  </div>
</div>

<%= @user.uid %>
<%= @user.provider %>


