<div id="hero">
  <div class="ink-grid topper">

    <%= render partial: "partials/nav" %>

    <%= render partial: "partials/notice" %>
    <div class="column-group">
      <div class="all-100">
        <div id="tagline">
          <hgroup>
          <h3>Fullfill Your</h3>
          <h2>Lust for Leaf</h2>
          <form class="ink-form search-form">
            <div class="control-group">
              <label for="zipcode">Find Local Food</label>
              <div class="control">
                <input id="zipcode" name="zipcode" type="text" placeholder="Zipcode" class="center-input">
                <%= link_to "Search", search_results_path, class: "search-btn" %>
              </div>
            </div>
          </form>
          </hgroup>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="content-1" class="ink-grid">
  <div class="column-group">
    <div class="all-25"></div>
    <div class="all-50">
      <i class="fa fa-leaf fa-2x"></i>
      <p class="medium-content">Salad Days is dedicated to connecting local people with local food sources. From farmer's markets, to co-ops, to backyard gardens, we'll help you eat with the seasons.</p>
    </div>
    <div class="all-25"></div>
  </div>
</div>
