<div id="hero">
  <div class="ink-grid home">

    <div class="column-group">
      <%= render partial: "partials/nav" %>
    </div>

    <div class="column-group">
      <div class="all-100">
        <div id="tagline">
          <hgroup>
          <h3>Helping fullfill your</h3>
          <h2>Lust for Leaf</h2>
          <form class="ink-form search-form">
            <div class="control-group">
              <label for="zipcode">Find Local Food</label>
              <div class="control">
                <input id="zipcode" name="zipcode" type="text" placeholder="Zipcode" class="center-input">
                <button class="search-btn">Search</button>
              </div>
            </div>
          </form>
          </hgroup>
        </div>
      </div>
    </div>

  </div>
</div>
