<%= render partial: "partials/sub_profile_header", locals: {:user => current_user} %>

<div class="ink-grid results">
<p class="medium-content">Creating Your Market</p>
  <%= render 'form' %>
</div>

